h1 {
    text-align: center;
    font-size: xxx-large;
}

p {
    padding-left: 3%;
    font-size: x-large;
}


img {
    height: auto;
    margin-left:70%;
    margin-right: 18%;
    width: 32%;
    bottom: 0%;
    position: absolute;
}