
body{
    /* background-color: green; */ 
    overflow-x: hidden;  
}

.image {
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.Name_of_Master {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 500%;
}


h1 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20%;
}

h2 {
    padding-top: 5%;
    padding-left: 2%;
}

p {
   padding-top: 1%;
   padding-left: 2.5%;
   padding-right: 1%;
   font-size: 120%;
}


.STARTBUTTON {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    
    height: 60px;
    margin-top: 20%;
    margin-bottom:  30%;
}

body.quiz {
    background-color: royalblue;
}

h1.quizQuestion {
    font-size: 50px;
}
.quizQuestions {
    padding-left: 4%;
    font-size: 30px;
}

.answer {
    padding-left: 10%;
    font-size: 20px;
}
/* Sidebar Style start */

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 23%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: hidden;
    padding-top: 2%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    /* padding: 6px 8px 6px 16px; */
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 10%;
    padding-bottom: 2%;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Active/current link */
  .sidenav a.active {
    background-color: #2d5232b4;
    color: white;
  }
  
  
  .sidenav a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /* When you mouse over the navigation links, change their color */
  /* .sidenav a:hover {
    color: #f1f1f1;
  } */
  
  /* Style page content */
  .main {
    margin-left: 23%; /* Same as the width of the sidebar */
    padding: 20px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  /* End of Sidebar style */



  
